# BASELINE HISTORICAL DATA

In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import os
import mysql.connector

from sqlalchemy import create_engine
from config import hostname, port, username, password, connection_string

In [2]:
# Install SQL Magic
!pip install ipython-sql

# Loading  SQL module
%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (8.13.2)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (2.0.15)
Requirement already satisfied: sqlparse in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\lara\anaconda3\envs\pythondata\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
# Configure SQL Magic to return queries as dataframes
%config SqlMagic.autopandas=True

In [4]:
# Connect to MySQL
cnx = mysql.connector.connect(host = hostname,
                              port = port,
                              user = username,
                              passwd = password,
                              database = "mel_db_test")

In [5]:
# engine = create_engine(connection_string, echo = True)

In [6]:
# Get list of all database tables
cursor=cnx.cursor()
cursor.execute("SHOW TABLES")
for table_name in cursor:
   print(table_name)

('2020_Merged_dataset_3rd_Cohort_Data',)
('Cohort3_new_baseline',)
('Interim_Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort3_Endline',)
('Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1_Baseline',)
('Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1_Endline',)
('Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2_Baseline',)
('Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2_Endline',)
('Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort3_Baseline',)
('Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort3_Baseline_old',)
('Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort3_Endline',)
('Kenya_2020_CovidRecoveryGrant_Kakuma_Baseline',)
('Kenya_2020_CovidRecoveryGrant_Kakuma_Endline',)
('Kenya_2020_Investment_Kakuma_Q1_Baseline',)
('Kenya_2020_Investment_Kakuma_Q1_Endline',)
('Kenya_2020_Investment_Kakuma_Q2_Baseline',)
('Kenya_2020_Investment_Kakuma_Q2_Endline',)
('Kenya_2021_BGS_LivelihoodProgram_Garissa_Cohort1_Baseline',)
('Kenya_2021_BGS_LivelihoodProgram_Garissa_Cohort1_Endline',)
('Kenya_2021_BGS_LivelihoodProgram_Kakuma_Cohort4_Baseline',)
('Kenya_2021_BGS_LivelihoodProgram_Kakuma_Cohort4_Endline',)
('Kenya_2021_Investment_Garissa_Q3_Baseline',)
('Kenya_2021_Investment_Garissa_Q3_Endline',)
('Kenya_2021_Investment_Kakuma_Q1_Baseline',)
('Kenya_2021_Investment_Kakuma_Q1_Endline',)
('Kenya_2021_Investment_Kakuma_Q2_Baseline',)
('Kenya_2021_Investment_Kakuma_Q2_Endline',)
('Kenya_2021_Investment_Kakuma_Q3_Baseline',)
('Kenya_2021_Investment_Kakuma_Q3_Endline',)
('Kenya_2022_BGS_LivelihoodProgram_Garissa_Cohort2_Baseline',)
('Kenya_2022_Investment_Kakuma_Q1_Baseline',)
('Maison_Shalom_Relief_Grant_Baseline',)
('Participants',)
('Rwanda_2017_BGS_LivelihoodProgram_Baseline',)
('Rwanda_2017_BGS_LivelihoodProgram_Endline',)
('Rwanda_2018_BGS_LivelihoodProgram_Baseline',)
('Rwanda_2018_BGS_LivelihoodProgram_Endline',)
('Rwanda_2019_BGS_BKUrumuri_Baseline',)
('Rwanda_2019_BGS_BKUrumuri_Endline',)
('Rwanda_2019_BGS_HangaAhazaza_Baseline',)
('Rwanda_2019_BGS_HangaAhazaza_Endline',)
('Rwanda_2019_BGS_ITCMarkUP_Baseline',)
('Rwanda_2019_BGS_ITCMarkUP_Endline',)
('Rwanda_2019_BGS_Kepler_Baseline',)
('Rwanda_2019_BGS_Kepler_Endline',)
('Rwanda_2019_BGS_OPFMasoro_Baseline',)
('Rwanda_2019_BGS_OPFMasoro_Endline',)
('Rwanda_2019_BGS_StandardClients_Baseline',)
('Rwanda_2019_BGS_StandardClients_Endline',)
('Rwanda_2019_BGS_livelihoodProgram_Baseline',)
('Rwanda_2019_BGS_livelihoodProgram_Endline',)
('Rwanda_2019_Investment_Baseline',)
('Rwanda_2019_Investment_Endline',)
('Rwanda_2020_BGS_BKUrumuri_Baseline',)
('Rwanda_2020_BGS_BKUrumuri_Endline',)
('Rwanda_2020_BGS_CoronaAction_Baseline',)
('Rwanda_2020_BGS_CoronaAction_Endline',)
('Rwanda_2020_BGS_GIZ_Baseline',)
('Rwanda_2020_BGS_GIZ_Endline',)
('Rwanda_2020_BGS_HangaAhazaza_Baseline',)
('Rwanda_2020_BGS_HangaAhazaza_Endline',)
('Rwanda_2020_BGS_ITCMarkUP_Baseline',)
('Rwanda_2020_BGS_ITCMarkUP_Endline',)
('Rwanda_2020_BGS_Kepler_Baseline',)
('Rwanda_2020_BGS_Kepler_Endline',)
('Rwanda_2020_BGS_LivelihoodProgram_FinancialLiteracy_Baseline',)
('Rwanda_2020_BGS_LivelihoodProgram_FinancialLiteracy_Endline',)
('Rwanda_2020_BGS_Miniyouth_Baseline',)
('Rwanda_2020_BGS_Miniyouth_Endline',)
('Rwanda_2020_BGS_OPFMasoro_Baseline',)
('Rwanda_2020_BGS_OPFMasoro_Baseline_old',)
('Rwanda_2020_BGS_OPFMasoro_Endline',)
('Rwanda_2020_BGS_OPFMasoro_Endline_old',)
('Rwanda_2020_BGS_SNV_Baseline',)
('Rwanda_2020_BGS_SNV_Endline',)
('Rwanda_2020_BGS_UNWomen_Cohort1_Baseline',)
('Rwanda_2020_BGS_UNWomen_Cohort1_Endline',)
('Rwanda_2020_BGS_UNWomen_Cohort2_Baseline',)
('Rwanda_2020_BGS_UNWomen_Cohort2_Endline',)
('Rwanda_2020_BGS_livelihoodProgram_Baseline',)
('Rwanda_2020_BGS_livelihoodProgram_Endline',)
('Rwanda_2020_CovidRecoveryGrant_Baseline',)
('Rwanda_2020_CovidRecoveryGrant_Endline',)
('Rwanda_2020_CovidRecoveryGrant_Interim07',)
('Rwanda_2020_CovidRecoveryGrant_Interim08',)
('Rwanda_2020_CovidRecoveryGrant_Interim09',)
('Rwanda_2020_CovidRecoveryGrant_Interim11',)
('Rwanda_2020_Investment_Baseline',)
('Rwanda_2020_Investment_Endline',)
('Rwanda_2020_Investment_Q3_Endline',)
('Rwanda_2021_BGS_BKUrumuri_Baseline',)
('Rwanda_2021_BGS_BKUrumuri_Endline',)
('Rwanda_2021_BGS_DigitalAmbassadors_Baseline',)
('Rwanda_2021_BGS_DigitalAmbassadors_Endline',)
('Rwanda_2021_BGS_HangaAhazaza_Baseline',)
('Rwanda_2021_BGS_HangaAhazaza_Endline',)
('Rwanda_2021_BGS_LivelihoodProgram_Baseline',)
('Rwanda_2021_BGS_LivelihoodProgram_Endline',)
('Rwanda_2021_BGS_LivelihoodProgram_FinancialLiteracy_Baseline',)
('Rwanda_2021_BGS_LivelihoodProgram_FinancialLiteracy_Endline',)
('Rwanda_2021_BGS_MTNLevelUP_Baseline',)
('Rwanda_2021_BGS_MTNLevelUP_Endline',)
('Rwanda_2021_BGS_OPFMasoro_Baseline',)
('Rwanda_2021_BGS_OPFMasoro_Endline',)
('Rwanda_2021_BGS_UGHE_Baseline',)
('Rwanda_2021_BGS_UGHE_Endline',)
('Rwanda_2021_BGS_UNWomen_Baseline',)
('Rwanda_2021_BGS_UNWomen_Endline',)
('Rwanda_2021_Investment_Q1_Baseline',)
('Rwanda_2021_Investment_Q1_Endline',)
('Rwanda_2021_Investment_Q2_Baseline',)
('Rwanda_2021_Investment_Q2_Endline',)
('Rwanda_2021_Investment_Q2_Endline_old',)
('Rwanda_2021_Investment_Q3_Baseline',)
('Rwanda_2021_Investment_Q3_Endline',)
('UN_Women_First_Cohort_Baseline',)
('currency_exchange',)

In [7]:
# Read one table into Pandas dataframe
rwa_2018_001 = pd.read_sql_query('Select * FROM Rwanda_2018_BGS_LivelihoodProgram_Baseline', cnx)
rwa_2018_001.head()

C:\Users\Lara\AppData\Local\Temp\ipykernel_12504\2625285705.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  rwa_2018_001 = pd.read_sql_query('Select * FROM Rwanda_2018_BGS_LivelihoodProgram_Baseline', cnx)

,client_info_name,sbj_number,training_attendance_count,training_attendance_percentage,period_baseline_endline,sbj_number_2,entrepreneur_strata,program,location,location_type,...,bizops_skills_improve_2,bizops_skills_improve_3,bizops_skills_improve_4,bizops_skills_improve_5,bizops_skills_improve_6,bizops_skills_improve_7,bizops_skills_improve_8,bizops_skills_improve_9,bizops_skills_improve,share_other
0,NZOTUNGWANAYO ALEXANDRE,58371994,6,86,0,58371994,Refugee Client,Full Program,Kigali,Urban,...,HR capital development,Marketing,Financial management,Digital financial skills,New information technology,"Other, please specify:",-1,-1,0,The business has started seven months ago
1,NTAHIMPERA GEORGE,58381281,6,86,0,58381281,Refugee Client,Full Program,Kigali,Urban,...,HR capital development,Sales and customer service,-1,-1,-1,-1,-1,-1,0,no
2,NTUNTU STEPHANIE,58385480,5,71,0,58385480,Refugee Client,Full Program,Kigali,Urban,...,Sales and customer service,"Other, please specify:",-1,-1,-1,-1,-1,-1,0,Today lesson was helpful and get an insight of...
3,NKURUNZIZA NADINE,58386351,4,57,0,58386351,Refugee Client,Full Program,Kigali,Urban,...,HR capital development,Marketing,Financial management,New information technology,Sales and customer service,-1,-1,-1,0,no
4,ROLAND KABANGA,58386737,4,57,0,58386737,Refugee Client,Full Program,Kigali,Urban,...,Financial management,Digital financial skills,Sales and customer service,-1,-1,-1,-1,-1,0,no

In [8]:
# close connection to database
cursor.close()
cnx.close()

In [9]:
column_names = list(rwa_2018_001.columns.values)
column_names

['client_info_name',
 'sbj_number',
 'training_attendance_count',
 'training_attendance_percentage',
 'period_baseline_endline',
 'sbj_number_2',
 'entrepreneur_strata',
 'program',
 'location',
 'location_type',
 'bizops_name',
 'agree_participation',
 'agree_participation_no_reason',
 'demo_nationality',
 'demo_gender',
 'demo_age',
 'demo_educlevel',
 'demo_educlevel_2',
 'demo_incomeearner_only',
 'demo_fin_responsible_count',
 'income_primarysource_1',
 'income_primarysource_2',
 'income_primarysource_3',
 'income_primarysource_4',
 'income_primarysource_5',
 'income_primarysource_6',
 'bizops_sector',
 'bizops_sector_other',
 'bizops_products',
 'Month',
 'Year',
 'Day',
 'bizops_age',
 'bizops_age_2',
 'bizops_age_3',
 'bizops_location_district_1',
 'bizops_location_district_2',
 'bizops_location_district_other',
 'bizops_location_district_other_2',
 'bizops_registred_rdb',
 'employees_count_fulltime_currently',
 'employees_count_parttime_currently',
 'employees_count_casual_currently',
 'employees_count_total_currently',
 'employee_temporary',
 'employees_count_male',
 'employees_count_female',
 'employees_count_refugees',
 'bizops_motivate',
 'bizops_fin_access_1',
 'bizops_fin_access_2',
 'bizops_fin_access_3',
 'demo_total_savings',
 'bizops_fin_access_family',
 'bizops_fin_access_savings_group',
 'bizops_fin_access_mfi_banks',
 'bizops_fin_access_ngos',
 'bizops_fin_access_investors',
 'formal_loan_not_mfi_bank_1',
 'formal_loan_not_mfi_bank_2',
 'demo_fin_account',
 'demo_fin_account_not_reason',
 'demo_fin_accountnot_reason_other',
 'customers_count_monthly',
 'customers_main_1',
 'customers_main_2',
 'customers_main_3',
 'customers_main_4',
 'customers_main',
 'records_sales_monthly',
 'salesrev_avgrevenue_monthly_last_year',
 'salesrev_avgrevenue_seasonal',
 'salesrev_streams_1',
 'salesrev_streams_2',
 'bizops_suppliers_count',
 'bizops_transporters_count',
 'bizops_transporters_type_1',
 'bizops_transporters_type_2',
 'bizops_transporters_type_3',
 'bizops_transporters_type_4',
 'bizops_transporters_type_5',
 'bizops_actors',
 'biz_develop_prog_attended_1',
 'biz_develop_prog_attended_2',
 'bizops_skills_improve_1',
 'bizops_skills_improve_2',
 'bizops_skills_improve_3',
 'bizops_skills_improve_4',
 'bizops_skills_improve_5',
 'bizops_skills_improve_6',
 'bizops_skills_improve_7',
 'bizops_skills_improve_8',
 'bizops_skills_improve_9',
 'bizops_skills_improve',
 'share_other']

In [10]:
# Add columns with survey ID, survey name
rwa_2018_001.insert(0, 'survey_id', 'RWA-2018-001')
rwa_2018_001.insert(1, 'table_name', 'Rwanda_2018_BGS_LivelihoodProgram_Baseline')
rwa_2018_001

,survey_id,table_name,client_info_name,sbj_number,training_attendance_count,training_attendance_percentage,period_baseline_endline,sbj_number_2,entrepreneur_strata,program,...,bizops_skills_improve_2,bizops_skills_improve_3,bizops_skills_improve_4,bizops_skills_improve_5,bizops_skills_improve_6,bizops_skills_improve_7,bizops_skills_improve_8,bizops_skills_improve_9,bizops_skills_improve,share_other
0,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,NZOTUNGWANAYO ALEXANDRE,58371994,6,86,0,58371994,Refugee Client,Full Program,...,HR capital development,Marketing,Financial management,Digital financial skills,New information technology,"Other, please specify:",-1,-1,0,The business has started seven months ago
1,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,NTAHIMPERA GEORGE,58381281,6,86,0,58381281,Refugee Client,Full Program,...,HR capital development,Sales and customer service,-1,-1,-1,-1,-1,-1,0,no
2,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,NTUNTU STEPHANIE,58385480,5,71,0,58385480,Refugee Client,Full Program,...,Sales and customer service,"Other, please specify:",-1,-1,-1,-1,-1,-1,0,Today lesson was helpful and get an insight of...
3,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,NKURUNZIZA NADINE,58386351,4,57,0,58386351,Refugee Client,Full Program,...,HR capital development,Marketing,Financial management,New information technology,Sales and customer service,-1,-1,-1,0,no
4,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,ROLAND KABANGA,58386737,4,57,0,58386737,Refugee Client,Full Program,...,Financial management,Digital financial skills,Sales and customer service,-1,-1,-1,-1,-1,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,NSABIMANA FAUSTIN,66791882,4,100,0,66791882,Refugee Client,Light Touch,...,Marketing,Sales and customer service,-1,-1,-1,-1,-1,-1,0,Appreciation of all services provided by INKOM...
344,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,MUGABO GASABATO,66791885,4,100,0,66791885,Refugee Client,Light Touch,...,Marketing,Sales and customer service,Planning,-1,-1,-1,-1,-1,0,"Only say thanks for the training, its help us ..."
345,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,RUKARA SERUHUNGO,66791888,2,50,0,66791888,Refugee Client,Light Touch,...,Digital financial skills,Sales and customer service,Planning,-1,-1,-1,-1,-1,0,No
346,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,NYIRANZIZA ESPERANCE,66791889,3,75,0,66791889,Refugee Client,Light Touch,...,Sales and customer service,Planning,-1,-1,-1,-1,-1,-1,0,No
347,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,MUNYAZIKWIYE RAPHAEL,66791890,4,100,0,66791890,Refugee Client,Light Touch,...,-1,-1,-1,-1,-1,-1,-1,-1,0,"Lack of enough Capital, Help us to get enough."

## Removing Irrelevant Data

In [11]:
# Filter out inactive businesses
filtered_survey_list = ["Kenya_2021_Investment_Kakuma_Q3_Endline",
"Kenya_2021_BGS_LivelihoodProgram_Garissa_Cohort1_Endline",
"Kenya_2021_BGS_LivelihoodProgram_Garissa_Cohort1_Baseline",
"Kenya_2021_BGS_LivelihoodProgram_Kakuma_Cohort4_Endline",
"Rwanda_2021_BGS_LivelihoodProgram_FinancialLiteracy_Endline",
"Rwanda_2020_BGS_CoronaAction_Baseline",
"Rwanda_2020_BGS_GIZ_Endline",
"Rwanda_2020_BGS_OPFMasoro_Endline",
"Rwanda_2020_BGS_OPFMasoro_Baseline",
"Kenya_2020_CovidRecoveryGrant_Kakuma_Endline",
"Kenya_2020_CovidRecoveryGrant_Kakuma_Baseline",
"Rwanda_2020_CovidRecoveryGrant_Endline",
"Rwanda_2021_BGS_LivelihoodProgram_Endline",
"Rwanda_2021_BGS_LivelihoodProgram_Baseline",
"Rwanda_2019_BGS_BKUrumuri_Endline",
"Rwanda_2019_BGS_OPFMasoro_Endline",
"Rwanda_2021_BGS_UGHE_Endline",
"Rwanda_2021_BGS_BKUrumuri_Endline",
"Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2_Endline",
"Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2_Baseline",
"Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort3_Baseline",
"Rwanda_2018_BGS_LivelihoodProgram_Endline",
"Rwanda_2020_CovidRecoveryGrant_Baseline",
"Rwanda_2020_BGS_LivelihoodProgram_FinancialLiteracy_Endline",
"Rwanda_2021_BGS_HangaAhazaza_Endline",
"Rwanda_2021_BGS_OPFMasoro_Endline",
"Rwanda_2019_BGS_Kepler_Endline",
"Rwanda_2019_BGS_Kepler_Baseline",
"Rwanda_2020_BGS_HangaAhazaza_Endline",
"Rwanda_2020_BGS_HangaAhazaza_Baseline",
"Rwanda_2020_BGS_Kepler_Endline",
"Rwanda_2020_BGS_Miniyouth_Baseline",
"Rwanda_2020_BGS_Miniyouth_Endline",
"Rwanda_2020_BGS_SNV_Endline",
"Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1_Endline",
"Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2_Endline",
"Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort3_Endline",
"Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1_Baseline",
"Kenya_2021_Investment_Kakuma_Q2_Endline"]

i = rwa_2018_001.table_name[0]
if i in filtered_survey_list:
    print("data needs to be filtered")
else:
    print("data does not need to be filtered")

# If data needs to be filtered, do that here

data does not need to be filtered

In [12]:
# Import list of relevant columns
columns_to_convert = pd.read_csv('dummy_data_to_convert.csv')
columns_to_convert.head()

,survey_id,survey_name,table_name,survey_id_field,table_name_field,age_number_field,age_range_field,gender_field,refugee_field,hh_expense_field_list,job_field,revenue_field,field_list_concat,revenue_divide_by
0,KEN_2019_001,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort...,survey_id,table_name,demo_age,NaN,demo_gender,entreprenuer_strata,NaN,employees_count_total,salesrev_avgrevenue_monthly_baseline,"survey_id,table_name,demo_age,demo_gender,entr...",1
1,RWA_2018_001,Rwanda_2018_BGS_LivelihoodProgram,Rwanda_2018_BGS_LivelihoodProgram_Baseline,survey_id,table_name,demo_age,NaN,demo_gender,entrepreneur_strata,NaN,employees_count_total_currently,salesrev_avgrevenue_monthly_last_year,"survey_id,table_name,demo_age,demo_gender,entr...",12
2,RWA_2019_001,Rwanda_2019_BGS_BKUrumuri,Rwanda_2019_BGS_BKUrumuri_Baseline,survey_id,table_name,NaN,NaN,demo_gender,NaN,NaN,employees_total_hwmany,salesrev_revenue_monthly,"survey_id,table_name,demo_gender,employees_tot...",1
3,KEN_2020_001,Kenya_2020_CovidRecoveryGrant_Kakuma,Kenya_2020_CovidRecoveryGrant_Kakuma_Baseline,survey_id,table_name,demo_age,demo_age_35,demo_gender,demo_client_type,"expense_comm_monthly_currently ,expense_energy...",employees_count_total_currently,salesrev_avgrevenue_mar_jun,"survey_id,table_name,demo_age,demo_age_35,demo...",1

In [13]:
columns_to_convert['field_list_concat'][1]

'survey_id,table_name,demo_age,demo_gender,entrepreneur_strata,employees_count_total_currently,salesrev_avgrevenue_monthly_last_year'

In [14]:
# Split field names from string to list
columns_to_convert['field_list_concat'] = columns_to_convert.field_list_concat.apply(lambda x: x.split(','))
field_list = columns_to_convert.field_list_concat[1]
field_list

['survey_id',
 'table_name',
 'demo_age',
 'demo_gender',
 'entrepreneur_strata',
 'employees_count_total_currently',
 'salesrev_avgrevenue_monthly_last_year']

In [15]:
# Make sure we're using same table name across the two dataframes
survey_name1 = rwa_2018_001.iloc[1]['table_name']
survey_name2 = columns_to_convert.iloc[1]['table_name']
if survey_name1 == survey_name2:
    field_list = columns_to_convert.iloc[1]['field_list_concat']
    print(field_list)
else:
    print('no match')

['survey_id', 'table_name', 'demo_age', 'demo_gender', 'entrepreneur_strata', 'employees_count_total_currently', 'salesrev_avgrevenue_monthly_last_year']

In [16]:
# Drop unnecessary columns from dataframe by 
rwa_2018_001 = rwa_2018_001[rwa_2018_001.columns.intersection(field_list)]

rwa_2018_001

,survey_id,table_name,entrepreneur_strata,demo_gender,demo_age,employees_count_total_currently,salesrev_avgrevenue_monthly_last_year
0,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Male,40,4,1800000
1,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Male,38,15,2000000
2,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Female,42,1,720000
3,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Female,40,1,720000
4,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Male,24,4,360000
...,...,...,...,...,...,...,...
343,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Male,34,2,400000
344,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Male,25,2,800000
345,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Male,53,2,270000
346,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Female,36,1,360000
347,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,Refugee Client,Male,60,2,180000

In [17]:
# Change demographics column names to match data model
# demo_age
# demo_age_category
# demo_gender_id
# demo_refugee_exp_id
# hh_expense_indicator_base
# jobs_created_base
# revenue_base

rwa_2018_001_base = rwa_2018_001.rename(columns = {'demo_gender': 'demo_gender_id', 
                                                   'entrepreneur_strata': 'demo_refugee_exp_id',
                                                   'employees_count_total_currently': 'jobs_created_base',
                                                    'salesrev_avgrevenue_monthly_last_year': 'revenue_base'})

In [18]:
# If survey didn't include questions for any indicator or metric, add columns here
rwa_2018_001_base['demo_age_category'] = ''
rwa_2018_001_base['hh_expense_indicator_base'] = ''

new_column_names = list(rwa_2018_001_base.columns.values)
new_column_names

['survey_id',
 'table_name',
 'demo_refugee_exp_id',
 'demo_gender_id',
 'demo_age',
 'jobs_created_base',
 'revenue_base',
 'demo_age_category',
 'hh_expense_indicator_base']

In [38]:
# # Rearrange column order to match data model

rwa_2018_001_base_ordered = rwa_2018_001_base.loc[:, ['survey_id',
                                                      'table_name',
                                                      'demo_age',
                                                      'demo_age_category',
                                                      'demo_gender_id',
                                                      'demo_refugee_exp_id',
                                                      'hh_expense_indicator_base',
                                                      'jobs_created_base',
                                                      'revenue_base']]

rwa_2018_001_base_ordered.head()

,survey_id,table_name,demo_age,demo_age_category,demo_gender_id,demo_refugee_exp_id,hh_expense_indicator_base,jobs_created_base,revenue_base
0,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,,Male,Refugee Client,,4,1800000
1,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,38,,Male,Refugee Client,,15,2000000
2,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,42,,Female,Refugee Client,,1,720000
3,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,,Female,Refugee Client,,1,720000
4,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,24,,Male,Refugee Client,,4,360000

## Standardize Remaining Data

In [39]:
# # Check data types
rwa_2018_001_base_ordered.dtypes

survey_id                    object
table_name                   object
demo_age                      int64
demo_age_category            object
demo_gender_id               object
demo_refugee_exp_id          object
hh_expense_indicator_base    object
jobs_created_base             int64
revenue_base                  int64
dtype: object

In [40]:
# # Check null values (some columns are OK to have null values)
rwa_2018_001_base_ordered.isna().sum()

survey_id                    0
table_name                   0
demo_age                     0
demo_age_category            0
demo_gender_id               0
demo_refugee_exp_id          0
hh_expense_indicator_base    0
jobs_created_base            0
revenue_base                 0
dtype: int64

In [41]:
# If no data in demo_age_category column, calculate from age

conditions = [
    (rwa_2018_001_base_ordered['demo_age'] < 36),
    (rwa_2018_001_base_ordered['demo_age'] >= 36) & (rwa_2018_001_base_ordered['demo_age'] < 46),
    (rwa_2018_001_base_ordered['demo_age'] >= 46) & (rwa_2018_001_base_ordered['demo_age'] < 56),
    (rwa_2018_001_base_ordered['demo_age'] >= 56)
]

values = ['18-35 years old', '36-45 years old', '45-55 years old', '56+ years old']

rwa_2018_001_base_ordered['demo_age_category'] = np.select(conditions, values)

rwa_2018_001_base_ordered.head()

,survey_id,table_name,demo_age,demo_age_category,demo_gender_id,demo_refugee_exp_id,hh_expense_indicator_base,jobs_created_base,revenue_base
0,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,Male,Refugee Client,,4,1800000
1,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,38,36-45 years old,Male,Refugee Client,,15,2000000
2,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,42,36-45 years old,Female,Refugee Client,,1,720000
3,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,Female,Refugee Client,,1,720000
4,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,24,18-35 years old,Male,Refugee Client,,4,360000

In [42]:
# Convert male/female to 0/1 if necessary 
conditions = [
    (rwa_2018_001_base_ordered['demo_gender_id'] == 'Male'),
    (rwa_2018_001_base_ordered['demo_gender_id'] == 'Female')
]

values = [0,1]

rwa_2018_001_base_ordered['demo_gender_id'] = np.select(conditions, values)

rwa_2018_001_base_ordered.head()

,survey_id,table_name,demo_age,demo_age_category,demo_gender_id,demo_refugee_exp_id,hh_expense_indicator_base,jobs_created_base,revenue_base
0,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,0,Refugee Client,,4,1800000
1,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,38,36-45 years old,0,Refugee Client,,15,2000000
2,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,42,36-45 years old,1,Refugee Client,,1,720000
3,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,1,Refugee Client,,1,720000
4,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,24,18-35 years old,0,Refugee Client,,4,360000

In [43]:
# Check values used in demo_refugee_exp_id
rwa_2018_001_base_ordered['demo_refugee_exp_id'].value_counts()

demo_refugee_exp_id
Refugee Client    348
Name: count, dtype: int64

In [44]:
# Convert text values on demo_refugee_exp_id as needed

conditions = [
    (rwa_2018_001_base_ordered['demo_refugee_exp_id'] == 'Refugee Client')
]

values = [0]

rwa_2018_001_base_ordered['demo_refugee_exp_id'] = np.select(conditions, values)

rwa_2018_001_base_ordered.head()

,survey_id,table_name,demo_age,demo_age_category,demo_gender_id,demo_refugee_exp_id,hh_expense_indicator_base,jobs_created_base,revenue_base
0,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,0,0,,4,1800000
1,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,38,36-45 years old,0,0,,15,2000000
2,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,42,36-45 years old,1,0,,1,720000
3,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,1,0,,1,720000
4,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,24,18-35 years old,0,0,,4,360000

## Transform Raw Data If Needed for Power BI Indicators
#### Note that no changes are needed for jobs - single field, no division or other manipulation needed

In [47]:
# # Calculate household expense indicator
# None for this survey
rwa_2018_001_base_ordered.head()

,survey_id,table_name,demo_age,demo_age_category,demo_gender_id,demo_refugee_exp_id,hh_expense_indicator_base,jobs_created_base,revenue_base
0,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,0,0,,4,150000.000000
1,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,38,36-45 years old,0,0,,15,166666.666667
2,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,42,36-45 years old,1,0,,1,60000.000000
3,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,1,0,,1,60000.000000
4,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,24,18-35 years old,0,0,,4,30000.000000

In [48]:
# Calculate revenue indicator
revenue_divide = columns_to_convert['revenue_divide_by'][1]
if revenue_divide > 1:
    rwa_2018_001_base_ordered['revenue_base']= rwa_2018_001_base_ordered['revenue_base']/revenue_divide
    rwa_2018_001_base_ordered.revenue_base = rwa_2018_001_base_ordered.revenue_base.round()
else:
    rwa_2018_001_base_ordered['revenue_base'] = rwa_2018_001_base_ordered['revenue_base']

rwa_2018_001_base_ordered.head()

,survey_id,table_name,demo_age,demo_age_category,demo_gender_id,demo_refugee_exp_id,hh_expense_indicator_base,jobs_created_base,revenue_base
0,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,0,0,,4,12500.0
1,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,38,36-45 years old,0,0,,15,13889.0
2,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,42,36-45 years old,1,0,,1,5000.0
3,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,40,36-45 years old,1,0,,1,5000.0
4,RWA-2018-001,Rwanda_2018_BGS_LivelihoodProgram_Baseline,24,18-35 years old,0,0,,4,2500.0

## For First Table Only: Save Dataframe with New Name; Other Tables Will Be Appended to This

In [ ]:
# # Use pd.concat() to append, as in: pd.concat([df1, df2]); this assumes that both dataframes have the same number of columns with same names
2018_baseline_df = rwa_2018_001_base_ordered