# BASELINE HISTORICAL DATA

In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Import Excel or csv file for survey data
baseline1 = pd.read_csv('original_data/Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1_baseline_copy.csv')
# Create data frame for survey data
kenya_2019_001 = pd.DataFrame(data = baseline1)
kenya_2019_001.head()

,number,trial_code,form_id,surveyor_name,entreprenuer_strata,demo_location,demo_location_other,trial_name,bizops_name,bizops_product,...,thanks,survey_complete,survey_complete_time,survey_start_time,username,received_on,Year,Department,asset_indicator,survey_name
0,2,KEN-003,9acf5222-1422-411d-8c17-d78dda047e3b,Chaddia,refugee-client,kalobeyei,NaN,control_group,retailor,"fish, vegetables, sleepers,..",...,0,1,9/20/19 8:24,9/20/19 8:06,aeck_20,9/20/19 11:04,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1
1,3,KEN-004,7fcf143f-8c60-423a-99bf-0828e39a8c0c,Nachomo,kenyan_client,kalobeyei,NaN,control_group,Kalobeyei shop,Clothes,...,0,1,9/20/19 8:27,9/20/19 8:04,aeck_19,9/20/19 11:10,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1
2,5,KEN-006,47134ddd-361a-488c-ba0e-609b9a27fd3f,Samuel Mwangangi,refugee-client,kalobeyei,NaN,control_group,Ruwenzori Moutain shop,taloring materials,...,welcome,1,9/20/19 8:11,9/20/19 7:57,aeck_17,9/20/19 11:19,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1
3,12,KEN-015,09aab4c1-9c56-4ee4-82af-c05c64e642b9,Samuel Mwangangi,refugee-client,kakuma_1,NaN,control_group,Rabecca Athieng,grocery,...,welcome,1,9/18/19 7:41,9/18/19 7:32,aeck_15,9/18/19 13:55,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1
4,13,KEN-016,8c21e777-a066-4014-a248-3d61fef2c4bc,Samuel Mwangangi,refugee-client,kakuma_1,NaN,control_group,Darge,Hotel,...,welcome,1,9/18/19 8:16,9/18/19 8:05,aeck_15,9/18/19 13:55,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1

In [3]:
# Add column with survey ID
kenya_2019_001.insert(0, 'survey_id', 'KEN-2019-001')
kenya_2019_001.head()

,survey_id,number,trial_code,form_id,surveyor_name,entreprenuer_strata,demo_location,demo_location_other,trial_name,bizops_name,...,thanks,survey_complete,survey_complete_time,survey_start_time,username,received_on,Year,Department,asset_indicator,survey_name
0,KEN-2019-001,2,KEN-003,9acf5222-1422-411d-8c17-d78dda047e3b,Chaddia,refugee-client,kalobeyei,NaN,control_group,retailor,...,0,1,9/20/19 8:24,9/20/19 8:06,aeck_20,9/20/19 11:04,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1
1,KEN-2019-001,3,KEN-004,7fcf143f-8c60-423a-99bf-0828e39a8c0c,Nachomo,kenyan_client,kalobeyei,NaN,control_group,Kalobeyei shop,...,0,1,9/20/19 8:27,9/20/19 8:04,aeck_19,9/20/19 11:10,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1
2,KEN-2019-001,5,KEN-006,47134ddd-361a-488c-ba0e-609b9a27fd3f,Samuel Mwangangi,refugee-client,kalobeyei,NaN,control_group,Ruwenzori Moutain shop,...,welcome,1,9/20/19 8:11,9/20/19 7:57,aeck_17,9/20/19 11:19,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1
3,KEN-2019-001,12,KEN-015,09aab4c1-9c56-4ee4-82af-c05c64e642b9,Samuel Mwangangi,refugee-client,kakuma_1,NaN,control_group,Rabecca Athieng,...,welcome,1,9/18/19 7:41,9/18/19 7:32,aeck_15,9/18/19 13:55,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1
4,KEN-2019-001,13,KEN-016,8c21e777-a066-4014-a248-3d61fef2c4bc,Samuel Mwangangi,refugee-client,kakuma_1,NaN,control_group,Darge,...,welcome,1,9/18/19 8:16,9/18/19 8:05,aeck_15,9/18/19 13:55,2019,MBS Kenya,0,Kenya_2019_BGS_LivelihoodProgram_Kakuma_Cohort1

## Removing Irrelevant Data

In [4]:
# Filter out inactive businesses

In [5]:
# Get list of column names
column_names = list(kenya_2019_001.columns.values)
column_names

['survey_id',
 'number',
 'trial_code',
 'form_id',
 'surveyor_name',
 'entreprenuer_strata',
 'demo_location',
 'demo_location_other',
 'trial_name',
 'bizops_name',
 'bizops_product',
 'demo_nationality',
 'demo_nationality_other',
 'demo_gender',
 'demo_age',
 'demo_educlevel',
 'demo_educlevel_level',
 'demo_incomeearner_only',
 'demo_incomeearner_count',
 'demo_primaryincome',
 'demo_primaryincome_other',
 'demo_primaryincome_UNHCR',
 'demo_primaryincome_own_biz',
 'demo_primaryincome_no_stable',
 'demo_primaryincome_no_stable_looking',
 'demo_primaryincome_part_time',
 'demo_primaryincome_full_time',
 'demo_primaryincome_other_biz',
 'demo_primaryincome_extra',
 'demo_primaryincome_write',
 'bizops_sector',
 'bizops_sector_biz',
 'bizops_sector_other',
 'bizops_elec_computer',
 'bizops_elec_smart_phone',
 'bizops_elec_feature_phone',
 'bizops_elec_tablet',
 'bizops_elec_none',
 'bizops_elec_extra',
 'bizops_firstsale_date',
 'bizops_firstsale_today',
 'bizops_operation_period',
 'bizops_age_range',
 'bizops_register_kra',
 'employees_count_fulltime',
 'employees__fulltime_worktime_week',
 'employees_count_parttime',
 'employees__parttime_worktime_week',
 'employees_count_casual',
 'employees_count_temp',
 'employees_temp_reason',
 'employees_count_total',
 'employees_fulltime_age_range_0_17',
 'employees_fulltime_age_range_18_30',
 'employees_fulltime_age_range_31_50',
 'employees_fulltime_age_range_51',
 'employees_fulltime_age_range_none',
 'employees_fulltime_age_range_extra',
 'employees_parttime_age_range_0_17',
 'employees_parttime_age_range_18_30',
 'employees_parttime_age_range_31_50',
 'employees_parttime_age_range_51',
 'employees_parttime_age_range_none',
 'employees_parttime_age_range_extra',
 'employees_casual_age_range_0_17',
 'employees_casual_age_range_18_30',
 'employees_casual_age_range_31_50',
 'employees_casual_age_range_51',
 'employees_casual_age_range_none',
 'employees_casual_age_range_extra',
 'employees_count_gender_m',
 'employees_count_gender_f',
 'employees_count_refugee',
 'bizops_motivation',
 'bizops_motivation_other',
 'bizops_fin_new_6',
 'bizops_fin_loans_family',
 'bizops_fin_loans_groups',
 'bizops_fin_MFI_banks',
 'bizops_fin_donation_grants',
 'bizops_fin_investor',
 'bizops_fin_other',
 'bizops_fin_extra',
 'bizops_fin_other_write',
 'bizops_fin_amt_family',
 'bizops_fin_amt_loans_groups',
 'bizops_fin_amt_MFI_banks',
 'bizops_fin_amt_NGO',
 'bizops_fin_amt_investor',
 'bizops_fin_not_apply',
 'bizops_fin_not_apply_write',
 'bizops_fin_bank_acc',
 'bizops_fin_bank_acc_why',
 'bizops_fin_bank_acc_why_write',
 'customer_count_monthly',
 'customer_main_individual',
 'customer_main_household',
 'customer_main_community',
 'customer_main_smbiz',
 'customer_main_lbiz',
 'customer_main_govt',
 'customer_main_NGOs',
 'customer_main_other',
 'customer_main_extra',
 'customer_main_other_write',
 'records_sales_monthly',
 'salesrev_avgrevenue_last_year',
 'salesrev_avgrevenue_monthly_baseline',
 'salesrev_avgrevenue_fluctuate',
 'salesrev_avgrevenue_season_fluctuate',
 'salesrev_avgrevenue_most_jan',
 'salesrev_avgrevenue_most_feb',
 'salesrev_avgrevenue_most_mar',
 'salesrev_avgrevenue_most_apr',
 'salesrev_avgrevenue_most_may',
 'salesrev_avgrevenue_most_jun',
 'salesrev_avgrevenue_most_jul',
 'salesrev_avgrevenue_most_aug',
 'salesrev_avgrevenue_most_sept',
 'salesrev_avgrevenue_most_oct',
 'salesrev_avgrevenue_most_nov',
 'salesrev_avgrevenue_most_dec',
 'salesrev_avgrevenue_most_none',
 'salesrev_avgrevenue_most_other',
 'salesrev_avgrevenue_most_extra',
 'salesrev_avgrevenue_least_none',
 'salesrev_avgrevenue_least_jan',
 'salesrev_avgrevenue_least_feb',
 'salesrev_avgrevenue_least_mar',
 'salesrev_avgrevenue_least_apr',
 'salesrev_avgrevenue_least_may',
 'salesrev_avgrevenue_least_jun',
 'salesrev_avgrevenue_least_jul',
 'salesrev_avgrevenue_least_aug',
 'salesrev_avgrevenue_least_sept',
 'salesrev_avgrevenue_least_oct',
 'salesrev_avgrevenue_least_nov',
 'salesrev_avgrevenue_least_dec',
 'salesrev_avgrevenue_least_other',
 'salesrev_avgrevenue_least_extra',
 'bizops_suppliers_count',
 'bizops_transporters_count',
 'bizops_transporters_foot',
 'bizops_transporters_bicycle',
 'bizops_transporters_motorbike',
 'bizops_transporters_car',
 'bizops_transporters_trucks',
 'bizops_transporters_other',
 'bizops_transporters_extra',
 'bizops_transporters_other_write',
 'bizops_actors_supply_chain',
 'bizops_actors_supply_chain_write',
 'demo_biz_development',
 'demo_biz_development_write',
 'demo_biz_development_skills_acc',
 'demo_biz_development_skills_hr',
 'demo_biz_development_skills_marketing',
 'demo_biz_development_skills_fin_mgmt',
 'demo_biz_development_skills_dig_fin_skills',
 'demo_biz_development_skills_new_it',
 'demo_biz_development_skills_sales',
 'demo_biz_development_skills_planning',
 'demo_biz_development_skills_other',
 'demo_biz_development_skills_extra',
 'demo_biz_development_skills_write',
 'sales',
 'marketing',
 'operation_management',
 'bookkeeping',
 'biz_plan',
 'cashflow_mgmt',
 'inventory_mgmt',
 'biz_network_partnerships',
 'learn_about_social_media',
 'learn_about_news_papers',
 'learn_about_past_clients',
 'learn_about_aec_staff',
 'learn_about_others',
 'learn_about_extra',
 'learn_about_other_specify',
 'meals_day_count',
 'meals_day_not_eating_count',
 'meals_meat_count',
 'expense_clothing',
 'assets_acquired_6',
 'assets_acquired_other',
 'fuel_cooking',
 'share_other',
 'share_other_write',
 'thanks',
 'survey_complete',
 'survey_complete_time',
 'survey_start_time',
 'username',
 'received_on',
 'Year',
 'Department',
 'asset_indicator',
 'survey_name']

In [6]:
# Create new data frame with only the relevant columns
kenya_2019_001_selected = kenya_2019_001[['survey_id',
                                      'demo_age',
                                      'demo_gender',
                                      'entreprenuer_strata',
                                      'assets_acquired_6']]

# Change column names to match Excel
kenya_2019_001_base = kenya_2019_001_selected.rename(columns = {'demo_gender': 'demo_gender_id'})

# If survey didn't include questions for key metrics, add empty columns
kenya_2019_001_base['asset_indicator_base'] = '1'
kenya_2019_001_base['hh_expense_indicator_base'] = ''
kenya_2019_001_base['jobs_created_base'] = ''
kenya_2019_001_base['revenue_base'] = ''

# # Rearrange column order to match Excel spreadsheet

kenya_2019_001_base.head()

,survey_id,demo_age,demo_gender_id,entreprenuer_strata,assets_acquired_6,asset_indicator_base,hh_expense_indicator_base,jobs_created_base,revenue_base
0,KEN-2019-001,44,0,refugee-client,NaN,1,,,
1,KEN-2019-001,38,0,kenyan_client,NaN,1,,,
2,KEN-2019-001,32,0,refugee-client,NaN,1,,,
3,KEN-2019-001,39,1,refugee-client,NaN,1,,,
4,KEN-2019-001,27,0,refugee-client,NaN,1,,,

## Standardize Remaining Data

In [7]:
# Check data types
kenya_2019_001_base.dtypes

survey_id                    object
demo_age                      int64
demo_gender_id                int64
entreprenuer_strata          object
assets_acquired_6            object
asset_indicator_base         object
hh_expense_indicator_base    object
jobs_created_base            object
revenue_base                 object
dtype: object

In [8]:
# Check null values (some columns are OK to have null values)
kenya_2019_001_base.isna().sum()

survey_id                     0
demo_age                      0
demo_gender_id                0
entreprenuer_strata           0
assets_acquired_6            94
asset_indicator_base          0
hh_expense_indicator_base     0
jobs_created_base             0
revenue_base                  0
dtype: int64

In [9]:
# Add column for age categories
kenya_2019_001_base.insert(2, 'demo_age_category', '')

conditions = [
    (kenya_2019_001_base['demo_age'] < 36),
    (kenya_2019_001_base['demo_age'] >= 36) & (kenya_2019_001_base['demo_age'] < 46),
    (kenya_2019_001_base['demo_age'] >= 46) & (kenya_2019_001_base['demo_age'] < 56),
    (kenya_2019_001_base['demo_age'] >= 56)
]

values = ['18-35 years old', '36-45 years old', '45-55 years old', '56+ years old']

kenya_2019_001_base['demo_age_category'] = np.select(conditions, values)

kenya_2019_001_base.head()

,survey_id,demo_age,demo_age_category,demo_gender_id,entreprenuer_strata,assets_acquired_6,asset_indicator_base,hh_expense_indicator_base,jobs_created_base,revenue_base
0,KEN-2019-001,44,36-45 years old,0,refugee-client,NaN,1,,,
1,KEN-2019-001,38,36-45 years old,0,kenyan_client,NaN,1,,,
2,KEN-2019-001,32,18-35 years old,0,refugee-client,NaN,1,,,
3,KEN-2019-001,39,36-45 years old,1,refugee-client,NaN,1,,,
4,KEN-2019-001,27,18-35 years old,0,refugee-client,NaN,1,,,

In [10]:
# Convert male/female to 0/1 if necessary 
# no changes needed for this survey

In [11]:
# Convert text values on demo_strata_id as needed 
kenya_2019_001_base.insert(5, 'demo_strata_id', '')

conditions_strata = [
    (kenya_2019_001_base['entreprenuer_strata'] == 'kenyan_client'),
    (kenya_2019_001_base['entreprenuer_strata'] == 'refugee-client')
]

values_strata = [1,0]

kenya_2019_001_base['demo_strata_id'] = np.select(conditions_strata, values_strata)

kenya_2019_001_base.head()

,survey_id,demo_age,demo_age_category,demo_gender_id,entreprenuer_strata,demo_strata_id,assets_acquired_6,asset_indicator_base,hh_expense_indicator_base,jobs_created_base,revenue_base
0,KEN-2019-001,44,36-45 years old,0,refugee-client,0,NaN,1,,,
1,KEN-2019-001,38,36-45 years old,0,kenyan_client,1,NaN,1,,,
2,KEN-2019-001,32,18-35 years old,0,refugee-client,0,NaN,1,,,
3,KEN-2019-001,39,36-45 years old,1,refugee-client,0,NaN,1,,,
4,KEN-2019-001,27,18-35 years old,0,refugee-client,0,NaN,1,,,

In [12]:
# Drop text columns that have been converted to numeric
kenya_2019_001_base.drop(columns=['entreprenuer_strata'], inplace = True)

## Transform Raw Data into Power BI Indicators

In [13]:
# Calculate asset indicator
# kenya_2019_001_base['assets_acquired_6'] = kenya_2019_001_base['assets_acquired_6'.fillna(0, inplace = True)]


# kenya_2019_001_base.loc[kenya_2019_001_base['assets_acquired_6'] == "NaN", 'asset_indicator_base'] = 0
# kenya_2019_001_base.tail(10)
kenya_2019_001_base.drop(columns=['assets_acquired_6'], inplace = True)

In [14]:
# Calculate household expense indicator
# None for this survey

In [15]:
# Calculate jobs indicator

In [16]:
# Calculate revenue indicator

In [17]:
# New data frame only with indicators (not raw data used in calculations--remove those columns)

## Append to Excel

In [18]:
# Export data frame to existing Excel
with pd.ExcelWriter('baseline_all_surveys.xlsx', engine="openpyxl", mode = 'a', if_sheet_exists = 'overlay') as writer:
    kenya_2019_001_base.to_excel(writer, sheet_name = 'Sheet1')