# BASELINE HISTORICAL DATA

In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Import Excel or csv file for survey data
baseline2 = pd.read_csv('original_data/Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2_baseline_copy.csv')
# Create data frame for survey data
kenya_2020_001 = pd.DataFrame(data = baseline2)
kenya_2020_001.head()

,number,trail_code,form_id,intro,bizops_operational,bizops_operational_reason_c19,trial_group,bizops_name,demo_age,demo_gender,...,share_client,survey_endtime,survey_starttime,username,received_on,Year,Department,num_assets,asset_indicator,survey_name
0,249,KEN-695,ff6d2597-3b11-4748-ad68-de3e0bc4d1a1,1,yes,0,control,Amani shop,32,1,...,"If AEC kenya gives a loan to aperson , how muc...",5/8/20 7:02,5/8/20 6:48,aeck_20,5/8/20 7:09,2020,MBS Kenya,2,1,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2
1,10,KEN-315,5f1546f7-3a3f-4b27-a22b-ba60b5b1826a,1,yes,0,control,Kawira shop,28,1,...,"Since you are interviewing us, are you going t...",5/8/20 5:55,5/8/20 5:48,aeck_20,5/8/20 7:09,2020,MBS Kenya,1,1,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2
2,248,KEN-693,338df75e-d372-486f-a762-d0584b68815e,1,yes,0,control,Lokwanamor traders,38,1,...,"After you have interviewed me, are you going ...",5/7/20 18:32,5/7/20 18:18,aeck_20,5/8/20 7:09,2020,MBS Kenya,1,1,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2
3,160,KEN-555,7ac002f8-e0d8-428a-a1c7-7517c99ef4b3,1,yes,0,control,Mama Olympic shop,30,0,...,How soon is the training beginning,5/7/20 18:18,5/7/20 18:04,aeck_20,5/8/20 7:09,2020,MBS Kenya,2,1,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2
4,159,KEN-553,d02aa9a4-f035-4253-9e56-dfc9378b69d2,1,yes,0,control,Utility shop,35,0,...,How much is AEC kenya giving us as entrepener...,5/7/20 17:53,5/7/20 17:36,aeck_20,5/8/20 7:09,2020,MBS Kenya,0,0,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2

In [3]:
# Add column with survey ID
kenya_2020_001.insert(0, 'survey_id', 'KEN-2020-001')
kenya_2020_001.head()

,survey_id,number,trail_code,form_id,intro,bizops_operational,bizops_operational_reason_c19,trial_group,bizops_name,demo_age,...,share_client,survey_endtime,survey_starttime,username,received_on,Year,Department,num_assets,asset_indicator,survey_name
0,KEN-2020-001,249,KEN-695,ff6d2597-3b11-4748-ad68-de3e0bc4d1a1,1,yes,0,control,Amani shop,32,...,"If AEC kenya gives a loan to aperson , how muc...",5/8/20 7:02,5/8/20 6:48,aeck_20,5/8/20 7:09,2020,MBS Kenya,2,1,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2
1,KEN-2020-001,10,KEN-315,5f1546f7-3a3f-4b27-a22b-ba60b5b1826a,1,yes,0,control,Kawira shop,28,...,"Since you are interviewing us, are you going t...",5/8/20 5:55,5/8/20 5:48,aeck_20,5/8/20 7:09,2020,MBS Kenya,1,1,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2
2,KEN-2020-001,248,KEN-693,338df75e-d372-486f-a762-d0584b68815e,1,yes,0,control,Lokwanamor traders,38,...,"After you have interviewed me, are you going ...",5/7/20 18:32,5/7/20 18:18,aeck_20,5/8/20 7:09,2020,MBS Kenya,1,1,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2
3,KEN-2020-001,160,KEN-555,7ac002f8-e0d8-428a-a1c7-7517c99ef4b3,1,yes,0,control,Mama Olympic shop,30,...,How soon is the training beginning,5/7/20 18:18,5/7/20 18:04,aeck_20,5/8/20 7:09,2020,MBS Kenya,2,1,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2
4,KEN-2020-001,159,KEN-553,d02aa9a4-f035-4253-9e56-dfc9378b69d2,1,yes,0,control,Utility shop,35,...,How much is AEC kenya giving us as entrepener...,5/7/20 17:53,5/7/20 17:36,aeck_20,5/8/20 7:09,2020,MBS Kenya,0,0,Kenya_2020_BGS_LivelihoodProgram_Kakuma_Cohort2

## Removing Irrelevant Data

In [4]:
# Filter out inactive businesses

In [5]:
# Get list of column names
column_names = list(kenya_2020_001.columns.values)
column_names

['survey_id',
 'number',
 'trail_code',
 'form_id',
 'intro',
 'bizops_operational',
 'bizops_operational_reason_c19',
 'trial_group',
 'bizops_name',
 'demo_age',
 'demo_gender',
 'demo_educlevel',
 'educ',
 'demo_nationality',
 'ref_ken',
 'demo_nationality_other',
 'demo_location',
 'demo_location_other',
 'demo_bizops_location',
 'location',
 'demo_bizops_location_other',
 'loan_received_AEC_Kenya',
 'demo_incomeearner_only',
 'demo_incomeearner_count',
 'bizops_sector',
 'bizops_sector_other',
 'bizops_challenge_lack_of_skils',
 'bizops_challenge_transport',
 'bizops_challenge_infrastructure',
 'bizops_challenge_market',
 'bizops_challenge_capital',
 'bizops_challenge_other_biz',
 'bizops_challenge_extra',
 'bizops_challenge_other_specify',
 'bizops_challenge_priority_lack_of_skils',
 'bizops_challenge_priority_transport',
 'bizops_challenge_priority_infrastructure',
 'bizops_challenge_priority_market',
 'bizops_challenge_priority_capital',
 'bizops_challenge_priority_other_biz',
 'bizops_challenge_priority_extra',
 'bizops_challenge_priority_other_specify',
 'bizops_challenge_prec19_lack_of_skils',
 'bizops_challenge_prec19_transport',
 'bizops_challenge_prec19_infrastructure',
 'bizops_challenge_prec19_market',
 'bizops_challenge_prec19_capital',
 'bizops_challenge_prec19_other_biz',
 'bizops_challenge_prec19_extra',
 'bizops_challenge_prec19_other_specify',
 'bizops_challenge_close_lack_of_skils',
 'bizops_challenge_close_transport',
 'bizops_challenge_close_infrastructure',
 'bizops_challenge_close_market',
 'bizops_challenge_close_capital',
 'bizops_challenge_close_other_biz',
 'bizops_challenge_close_extra',
 'bizops_challenge_close_other_specify',
 'bizops_motivate',
 'bizops_motivate_other',
 'bizops_elec_smart_phone',
 'bizops_elec_feature_phone',
 'bizops_elec_feature_comp',
 'bizops_elec_feature_tablet',
 'bizops_elec_feature_dont_use',
 'bizops_elec_feature_extra',
 'employees_count_fulltime_currently',
 'employees_count_parttime_currently',
 'employees_count_casual_currently',
 'employees_count_total_currently',
 'employees_count_male',
 'employees_count_female',
 'employees_count_related',
 'employees_count_refugees',
 'employees_count_host_comm',
 'employees_count_fulltime_prec19',
 'employees_count_parttime_prec19',
 'employees_count_casual_prec19',
 'employees_count_total_prec19',
 'employees_count_male_prec19',
 'employees_count_female_prec19',
 'employees_count_related_prec19',
 'employees_count_refugees_prec19',
 'employees_count_host_comm_prec19',
 'demo_fin_account',
 'demo_primaryincome_source_biz',
 'demo_primaryincome_source_stipend',
 'demo_primaryincome_source_employee',
 'demo_primaryincome_source_abroad',
 'demo_primaryincome_source_agriculture',
 'demo_primaryincome_source_family',
 'demo_primaryincome_source_other',
 'demo_primaryincome_source_extra',
 'demo_primaryincome_source_other_specify',
 'bizops_fin_access_4_months',
 'bizops_fin_access_revenue',
 'bizops_fin_access_personal_savings',
 'bizops_fin_access_savings_groups',
 'bizops_fin_access_family_friends',
 'bizops_fin_access_mfi_banks',
 'bizops_fin_access_online',
 'bizops_fin_access_funders',
 'bizops_fin_access_investors',
 'bizops_fin_access_stipends',
 'bizops_fin_access_other',
 'bizops_fin_access_extra',
 'bizops_fin_access_other_specify',
 'bizops_fin_received_revenue',
 'bizops_fin_received_pers_savings',
 'bizops_fin_received_savings_grps',
 'bizops_fin_received_family',
 'bizops_fin_received_mfi_banks',
 'bizops_fin_received_online_platforms',
 'bizops_fin_received_ngos',
 'bizops_fin_received_investors',
 'bizops_fin_received_unhcr',
 'bizops_fin_received_other',
 'bizops_fin_not_received_thought',
 'bizops_fin_not_received_external_cred',
 'bizops_fin_not_received_trust',
 'bizops_fin_not_received_qualify',
 'bizops_fin_not_received_other',
 'bizops_fin_not_received_extra',
 'bizops_fin_not_received_other_specify',
 'customers_count_monthly',
 'customers_count_monthly_prec19',
 'customers_refugees',
 'customers_host_comm',
 'customers_sme',
 'customers_large_biz',
 'customers_government',
 'customers_ngos',
 'customers_others',
 'customers_extra',
 'customers_others_specify',
 'customers_prec19_individuals',
 'customers_prec19_host_comm',
 'customers_prec19_smes',
 'customers_prec19_large_biz',
 'customers_prec19_govt',
 'customers_prec19_ngos',
 'customers_prec19_other',
 'customers_prec19_extra',
 'customers_prec19_other_specify',
 'records_sales_monthly',
 'records_sales_monthly_prec19',
 'salesrev_avgrevenue',
 'salesrev_avgrevenue_prec19',
 'salesrev_avgrevenue_seasonal',
 'salesrev_most_jan',
 'salesrev_most_feb',
 'salesrev_most_mar',
 'salesrev_most_apr',
 'salesrev_most_may',
 'salesrev_most_jun',
 'salesrev_most_jul',
 'salesrev_most_aug',
 'salesrev_most_sep',
 'salesrev_most_oct',
 'salesrev_most_nov',
 'salesrev_most_dec',
 'salesrev_most_extra',
 'salesrev_least_jan',
 'salesrev_least_feb',
 'salesrev_least_mar',
 'salesrev_least_apr',
 'salesrev_least_may',
 'salesrev_least_jun',
 'salesrev_least_jul',
 'salesrev_least_aug',
 'salesrev_least_sep',
 'salesrev_least_oct',
 'salesrev_least_nov',
 'salesrev_least_dec',
 'salesrev_least_extra',
 'low_rev_reason_poor_weather',
 'low_rev_reason_expenditure',
 'low_rev_reason_stock',
 'low_rev_reason_disruption_supply',
 'low_rev_reason_pandemic',
 'low_rev_reason_transport',
 'low_rev_reason_other',
 'low_rev_reason_extra',
 'low_rev_reason_other_specify',
 'sales',
 'OperationsManagement',
 'Investmentreadiness',
 'Bookkeeping',
 'CashflowandInventoryManagement',
 'bizops_skills_improve_sales',
 'bizops_skills_improve_opt_mgmt',
 'bizops_skills_improve_investment',
 'bizops_skills_improve_bookkeeping',
 'bizops_skills_improve_cashflow',
 'bizops_skills_improve_other',
 'bizops_skills_improve_extra',
 'bizops_skills_improve_other_specify',
 'meals_day',
 'meals_week_not_eating',
 'meals_month_meat',
 'expense_asset_4_month_tv_radio',
 'expense_asset_4_month_mobile',
 'expense_asset_4_month_ref',
 'expense_asset_4_month_solar',
 'expense_asset_4_month_choice15',
 'expense_asset_4_month_comp',
 'expense_asset_4_month_motorcycle',
 'expense_asset_4_month_animal_drawn_cart',
 'expense_asset_4_month_other',
 'expense_asset_4_month_none',
 'expense_asset_4_month_extra',
 'expense_asset_4_month_other_specify',
 'cooking_fuel_gas',
 'cooking_fuel_elec',
 'cooking_fuel_wood',
 'cooking_fuel_charcoal',
 'cooking_fuel_choice16',
 'cooking_fuel_other',
 'cooking_fuel_extra',
 'cooking_fuel_other_specify',
 'expense_last_4_months_school_fees',
 'expense_last_4_months_energy',
 'expense_last_4_months_clothing',
 'expense_last_4_months_rent',
 'expense_last_4_months_comm',
 'learn_AEC_social_media',
 'learn_AEC_papers',
 'learn_AEC_clients',
 'learn_AEC_owners',
 'learn_AEC_partners',
 'learn_AEC_church',
 'learn_AEC_staff',
 'learn_AEC_other',
 'learn_AEC_extra',
 'learn_AEC_other_specify',
 'share_other',
 'share_client',
 'survey_endtime',
 'survey_starttime',
 'username',
 'received_on',
 'Year',
 'Department',
 'num_assets',
 'asset_indicator',
 'survey_name']

In [6]:
# Create new data frame with only the relevant columns
kenya_2020_001_selected = kenya_2020_001[['survey_id',
                                      'demo_age',
                                      'demo_gender',
                                      'ref_ken',
                                      'expense_asset_4_month_tv_radio']]

# Change column names to match Excel
kenya_2020_001_base = kenya_2020_001_selected.rename(columns = {'demo_gender': 'demo_gender_id'})

# If survey didn't include questions for key metrics, add empty columns
kenya_2020_001_base['asset_indicator_base'] = '1'
kenya_2020_001_base['hh_expense_indicator_base'] = ''
kenya_2020_001_base['jobs_created_base'] = ''
kenya_2020_001_base['revenue_base'] = ''

# # Rearrange column order to match Excel spreadsheet

kenya_2020_001_base.head()

,survey_id,demo_age,demo_gender_id,ref_ken,expense_asset_4_month_tv_radio,asset_indicator_base,hh_expense_indicator_base,jobs_created_base,revenue_base
0,KEN-2020-001,32,1,Kenyan,0,1,,,
1,KEN-2020-001,28,1,Kenyan,0,1,,,
2,KEN-2020-001,38,1,Kenyan,0,1,,,
3,KEN-2020-001,30,0,Kenyan,0,1,,,
4,KEN-2020-001,35,0,Kenyan,0,1,,,

## Standardize Remaining Data

In [7]:
# Check data types
kenya_2020_001_base.dtypes

survey_id                         object
demo_age                           int64
demo_gender_id                     int64
ref_ken                           object
expense_asset_4_month_tv_radio     int64
asset_indicator_base              object
hh_expense_indicator_base         object
jobs_created_base                 object
revenue_base                      object
dtype: object

In [8]:
# Check null values (some columns are OK to have null values)
kenya_2020_001_base.isna().sum()

survey_id                         0
demo_age                          0
demo_gender_id                    0
ref_ken                           0
expense_asset_4_month_tv_radio    0
asset_indicator_base              0
hh_expense_indicator_base         0
jobs_created_base                 0
revenue_base                      0
dtype: int64

In [9]:
# Add column for age categories
kenya_2020_001_base.insert(2, 'demo_age_category', '')

conditions = [
    (kenya_2020_001_base['demo_age'] < 36),
    (kenya_2020_001_base['demo_age'] >= 36) & (kenya_2020_001_base['demo_age'] < 46),
    (kenya_2020_001_base['demo_age'] >= 46) & (kenya_2020_001_base['demo_age'] < 56),
    (kenya_2020_001_base['demo_age'] >= 56)
]

values = ['18-35 years old', '36-45 years old', '45-55 years old', '56+ years old']

kenya_2020_001_base['demo_age_category'] = np.select(conditions, values)

kenya_2020_001_base.head()

,survey_id,demo_age,demo_age_category,demo_gender_id,ref_ken,expense_asset_4_month_tv_radio,asset_indicator_base,hh_expense_indicator_base,jobs_created_base,revenue_base
0,KEN-2020-001,32,18-35 years old,1,Kenyan,0,1,,,
1,KEN-2020-001,28,18-35 years old,1,Kenyan,0,1,,,
2,KEN-2020-001,38,36-45 years old,1,Kenyan,0,1,,,
3,KEN-2020-001,30,18-35 years old,0,Kenyan,0,1,,,
4,KEN-2020-001,35,18-35 years old,0,Kenyan,0,1,,,

In [10]:
# Convert male/female to 0/1 if necessary 
# no changes needed for this survey

In [11]:
# check values for ref_ken
kenya_2020_001_base['ref_ken'].value_counts()

Refugees    142
Kenyan      119
Name: ref_ken, dtype: int64

In [12]:
# Convert text values on demo_strata_id as needed 
kenya_2020_001_base.insert(5, 'demo_strata_id', '')

conditions_strata = [
    (kenya_2020_001_base['ref_ken'] == 'Kenyan'),
    (kenya_2020_001_base['ref_ken'] == 'Refugees')
]

values_strata = [0,1]

kenya_2020_001_base['demo_strata_id'] = np.select(conditions_strata, values_strata)

kenya_2020_001_base.head()

,survey_id,demo_age,demo_age_category,demo_gender_id,ref_ken,demo_strata_id,expense_asset_4_month_tv_radio,asset_indicator_base,hh_expense_indicator_base,jobs_created_base,revenue_base
0,KEN-2020-001,32,18-35 years old,1,Kenyan,0,0,1,,,
1,KEN-2020-001,28,18-35 years old,1,Kenyan,0,0,1,,,
2,KEN-2020-001,38,36-45 years old,1,Kenyan,0,0,1,,,
3,KEN-2020-001,30,18-35 years old,0,Kenyan,0,0,1,,,
4,KEN-2020-001,35,18-35 years old,0,Kenyan,0,0,1,,,

In [15]:
# Drop text columns that have been converted to numeric
kenya_2020_001_base.drop(columns=['ref_ken'], inplace = True)

## Transform Raw Data into Power BI Indicators

In [16]:
# Calculate asset indicator
# kenya_2019_001_base['assets_acquired_6'] = kenya_2019_001_base['assets_acquired_6'.fillna(0, inplace = True)]


# kenya_2019_001_base.loc[kenya_2019_001_base['assets_acquired_6'] == "NaN", 'asset_indicator_base'] = 0
# kenya_2019_001_base.tail(10)
kenya_2020_001_base.drop(columns=['expense_asset_4_month_tv_radio'], inplace = True)

In [17]:
# Calculate household expense indicator
# None for this survey

In [18]:
# Calculate jobs indicator

In [19]:
# Calculate revenue indicator

In [20]:
# New data frame only with indicators (not raw data used in calculations--remove those columns)

## Append to Excel

In [21]:
# Export data frame to existing Excel
with pd.ExcelWriter('baseline_all_surveys.xlsx', engine="openpyxl", mode = 'a', if_sheet_exists = 'overlay') as writer:
    kenya_2020_001_base.to_excel(writer, sheet_name = 'Sheet1')